body{ background-color: #fafafa; }

.navbar { 
	border-radius : 0px;
	margin-bottom : 0px;
	
 }
 .navbar h1,.navbar a,.navbar p{
 	color:#ffffff;
 }
.uiHide{
	display:none;
}
.pull-right{
	float:right;
}